<div [@routerTransition]>
  <app-page-header [heading]="'Support'" [icon]="'fa-comments'"></app-page-header>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="main">

        <div class="form-area">
          <form role="form" (ngSubmit)="f.form.valid && sendNotification()" #f="ngForm" novalidate>
            <br style="clear:both">
            <div class="form-group">
              {{ 'We welcome you to contact us, if you need help. Please send us your questions' | translate }}.
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !message.valid }">
              <textarea class="form-control" 
                [ngClass]="{ 'form-control-danger': f.submitted && !message.valid }"
                name="message" [(ngModel)]="model.message" #message="ngModel" required
                type="textarea" id="message" 
                placeholder="{{ 'Message' | translate }}" 
                maxlength="140" rows="5"
                >
              </textarea>
              <div *ngIf="f.submitted && !message.valid" class="form-control-feedback">Required</div>
            </div>
            <button [disabled]="loading" class="btn btn-primary pull-right"> {{ 'Send' | translate }} </button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
