<div [@routerTransition]>
  <app-page-header [heading]="'Atms'" [icon]="'fa-search'"></app-page-header>

  <div class="alert alert-warning" *ngIf="(loading && (!atms || !atms.length))">
    <strong>{{ 'Atention' | translate }}! </strong> {{ 'You have to' | translate }}
    <a routerLink="/accounts/providers" class="alert-link">{{ 'associate the BBVA Provider' | translate }}</a> {{ 'in order to see information here!' | translate}}
  </div>

  <div class="alert alert-success" *ngIf="loading && atm">
    <label>Tu cajero más cercano esta ubicado en: {{atm.address}}, {{atm.city}}. Distancia: {{atm.distance*1000}} metros.</label> 
  </div>

  <agm-map #gm class="agm-map" [latitude]="lat" [longitude]="lng" [zoom]="14" *ngIf="(loading && (atms &&  atms.length))">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'/assets/images/user.png'" (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">
      <agm-info-window [disableAutoPan]="true" #infoWindow>
        <div>
          <strong>You are here!</strong>
        </div>
      </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let m of atms; let i = index" [latitude]=m.geolocation.latitude [longitude]=m.geolocation.longitude [label]="'A'"
      (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow">
      <agm-info-window [disableAutoPan]="true" #infoWindow>
        <div>
          <strong>{{m.codAtm}}</strong>
        </div>
        <div>Distance: {{m.distance}} / Branch: {{m.branch}}</div>
        <br/>
        <div>{{m.address}}</div>
        <div>({{m.zipCode}}) - {{m.city}}</div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
