<div [@routerTransition]>
  <app-page-header [heading]="'Balance'" [icon]="'fa-balance-scale'"></app-page-header>

  <div class="alert alert-warning" *ngIf="(loading && (!balance || !balance.totals || !balance.totals.length))">
    <strong>{{ 'Atention' | translate }}! </strong> {{ 'You have to' | translate }}
    <a routerLink="/accounts/providers" class="alert-link">{{ 'associate a Provider' | translate }}</a> {{ 'in order to see information here!' | translate}}
  </div>

  <div class="row" *ngIf="(loading && (balance && balance.totals && balance.totals.length))">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header card-info card-inverse">
          {{ 'Totals' | translate }}
          <button type="button" class="btn-sm btn-outline-primary float-right" (click)="sendNotification()">
            {{ 'Send me Balance' | translate }}
          </button>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-4" *ngFor="let item of balance.totals">
              <div class="card mb-3">
                <div class="card-block" style="padding: 0.5rem 1.25rem;">
                  {{item.currency}} {{item.amount}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6" *ngFor="let item of balance.accounts; let i = index">
          <div class="card mb-3">
            <div class="card-header card-info card-inverse">
              {{item.name}}
              <button type="button" class="btn-sm btn-outline-primary float-right" (click)="isCollapsed = !isCollapsed" *ngIf="item.accounts.length">
                {{ 'Detail' | translate }}
              </button>
            </div>
            <div class="card-block">
              <div class="row" *ngFor="let total of item.totals">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <strong>{{total.currency}}</strong> &nbsp; {{total.amount}}
                </div>
              </div>

              <div *ngIf="item.accounts.length">

                <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                  <div class="row" *ngFor="let acc of item.accounts; let j = index" style="margin-top: 7px">
                    <div class="card" style="width: 100%">
                      <div class="card-header card-default">
                        {{acc.description}}: {{acc.number}}
                      </div>
                      <div class="card-block">
                        <strong>{{acc.currency}}</strong> &nbsp; {{acc.balance}}
                      </div>
                    </div>
                  </div>
                  <br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
