<div [@routerTransition]>
  <h2 class="text-muted">Dashboard</h2>
  <div class="row">
    <div class="col-md-12">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slider of sliders">
          <img class="mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" style="max-width: 100%">
          <div class="carousel-caption">
            <h3>{{slider.label}}</h3>
            <p>{{slider.text}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <a routerLink="/accounts/providers">
        <app-stat [bgClass]="'card-primary'" [icon]="'fa-handshake-o'" [count]="2" [label]="'Providers'"></app-stat>
      </a>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <a routerLink="/accounts/balances">
        <app-stat [bgClass]="'card-info'" [icon]="'fa-balance-scale'" [label]="'Balances'"></app-stat>
      </a>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <a routerLink="/accounts/atms">
        <app-stat [bgClass]="'card-warning'" [icon]="'fa-search'" [label]="'ATMS'"></app-stat>
      </a>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <a routerLink="/general/charts">
        <app-stat [bgClass]="'card-success'" [icon]="'fa-bar-chart-o'" [label]="'Charts'"></app-stat>
      </a>
    </div>
  </div>

</div>
