<div [@routerTransition]>
    <app-page-header [heading]="'Faq'" [icon]="'fa-bar-faq-o'"></app-page-header>
   

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        Menu Principal
                    </div> 
                    <div class="card-block">
                        <p>Accesos directos a la funcionalidad de providers, balances, atms y graficos.</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        Cuentas / Proveedores
                    </div> 
                    <div class="card-block">
                        <p>Aquí se podrán asociar, mediante la autenticación, tanto una o mas cuenta de mercado pago como la de BBVA Market Place.</p>
                        <p>Para dar de alta una cuenta con cualquier de los Proveedores se deberá hacer click en el boton correspondiente el cual
                        rediccionará a la pagina del Proveedor. Una vez autenticado, se podrá habilitar o deshabilitar el mismo y a partir de ello
                        se podrá acceder a la funcionalidad de balances y en el caso de estar habilitado se podrá acceder a la funcionalidad de 
                        busqueda de cajeros automaticos</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        Cuentas / Balances
                    </div> 
                    <div class="card-block">
                        <p>Aquí se podrá consultar los balances unificados de las cuentas de Proveedores asociados y habilitados.</p>
                        <p>En dicha pantalla se podrán ver los totales sumarizados de los Proveedores habilitados en los Saldos
                        de las cuentas de cada Proveedor en las distintas Monedas.</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        Cuentas / ATMs
                    </div> 
                    <div class="card-block">
                        <p>Aquí se podrá consultar todos los ATMs disponibles en los alrededores de un punto situado en Madrid.</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        General / Tableros
                    </div> 
                    <div class="card-block">
                        <p>Estadísticas de la biometría obtenida de los Feedback recibidos en la Aplicación.</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        General / API
                    </div> 
                    <div class="card-block">
                        <p>Endpoints utilizados en la Aplicación.</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        General / usuarios
                    </div> 
                    <div class="card-block">
                        <p>Funcionalidad disponible para usuarios Administradores, en la cuál podrán eliminar Usuarios y modificar Roles.</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        General / soporte
                    </div> 
                    <div class="card-block">
                        <p>Mensaje de soporte a los Administradores.</p>
                    </div>    
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-default"> 
                        Dejanos tu Opinion
                    </div> 
                    <div class="card-block">
                        <p>Aquí podrás dejar su Feedback a traves una foto, a la cual el sistema procesará, midiendo las emociones de la misma</p>
                        <p>El Feedback y su foto no serán asociados, solo se tendrán en cuenta para fines estadísticos.</p>
                    </div>    
                </div>
            </div>
        </div>
    
</div>
