.button-mp{
    width: 67%;
    background-color: #009ee3;
    color: #fff;
    font-size: 1rm;
}

.button-bbva{
    width: 67%;
    background-color: #012636;
    color: #fff;
    font-size: 1rm;
}

.switch {
    height: 31px;
    position: relative;
    width: 70px;
    display: inline-block;
    margin: -10px 10px;
}
.switch input {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.switch label, .switch label div {
    border-radius: 25px;
    display: block;
    transition: all .15s ease;
}
.switch label {
    background: #e9513a;
    color: #c72f18;
    height: 100%;
    position: relative;
    width: 100%;
}
.switch label div {
    background: #fff;
    height: 25px;
    left: 4px;
    position: absolute;
    top: 3px;
    width: 25px;
    z-index: 3;
}
.switch label, .switch label div {
    border-radius: 25px;
    display: block;
    transition: all .15s ease;
}
.switch input:checked~label {
    background: #2fca6c;
    color: #13ad4f;
}
.switch input:checked~label div {
    left: 41px;
}