<div [@routerTransition]>
    <app-page-header [heading]="'Providers'" [icon]="'fa-handshake-o'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="row" >
                <div class="col-lg-8 col-sm-12 col-md-10">
                    <button (click)="providerPermission('MP')" class="btn button-mp" [disabled]="mp!==null" [ngClass]="{ 'disabled': mp }">
                        <img src="/assets/images/mp.ico" height="19" /> Mercado Pago
                    </button>   
                    <div  class="switch" *ngIf="mp">
                        <input  type="checkbox" [checked]="mp.enabled"
                        (change)="onEnabledMp($event.target.checked)">
                        <label >
                            <div ></div>
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-8 col-sm-12 col-md-10">
                    <button (click)="providerPermission('BBVA')" class="btn button-bbva" [disabled]="bbva!==null" [ngClass]="{ 'disabled': bbva }">
                        <img src="/assets/images/bbva.ico" height="19" /> BBVA
                    </button>  
                    <div  class="switch" *ngIf="bbva">
                        <input  type="checkbox" [checked]="bbva.enabled"
                        (change)="onEnabledBbva($event.target.checked)">
                        <label >
                            <div ></div>
                        </label>
                    </div>  
                </div>
                
            </div>
  
        </div>
    </div> 
</div>
      
      